In [30]:
import os
import pandas as pd

In [31]:
def clean_feats(feats): 
    final_feats = []
    for f in feats:
        if len(f.split('_at_')) > 1:
            final_feats.append(f.split('_at_')[1])
        else:
            final_feats.append(f)
    return final_feats

In [32]:
best_map = {
    'CN_AD':'Features_ranked_for_CN_AD_400_prune.csv',
    'CN_EMCI':'Features_ranked_for_CN_EMCI_300_prune.csv',
    'CN_LMCI':'Features_ranked_for_CN_LMCI_400_prune.csv', 
    'EMCI_LMCI':'Features_ranked_for_EMCI_LMCI_500_prune.csv',
    'EMCI_AD':'Features_ranked_for_EMCI_AD_300_prune.csv',
    'LMCI_AD':'Features_ranked_for_LMCI_AD_500_prune.csv'
    }

In [33]:
groups = ['CN_AD', 'CN_EMCI', 'CN_LMCI', 'EMCI_AD', 'EMCI_LMCI', 'LMCI_AD']
final_dict= {}

In [34]:
filepath = '/Users/subashkhanal/Desktop/paper1_results/final/Gene_Expr/'

In [36]:
for group in groups:
    df = pd.read_csv(os.path.join(filepath,best_map[group]))
    feats = list(df[df['importance']>=0.01]['features'])
    final_dict[group] = clean_feats(feats)

In [38]:
df_final = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in final_dict.items() ]))

In [39]:
df_final.to_csv('topGeneExpr_genes.csv')

In [40]:
df_final.head()

    CN_AD CN_EMCI CN_LMCI   EMCI_AD EMCI_LMCI  LMCI_AD
0   SUMF1     AGE     AGE       UBB     MYEOV    MYEOV
1     AGE    DOK5    AFF4  C19ORF77    CCDC89    DYRK3
2  LYSMD1   LMOD2     VIP       AGE     NUP43  SNORD16
3   DYRK3   LETM1  MYBPC3     XRCC5    GALNT1    SUMF1
4   CD177  NDUFA5   RABL5     CNOT8    UBE2J2   LRRC39